# These substitutions allow the end user to override certain values
substitutions:
  devicename: pokypow
  upper_devicename: PokyPow

esphome:
  name: "${devicename}"
  friendly_name: "${upper_devicename}"
  name_add_mac_suffix: true

  project:
    name: "ajfriesen.PokyPow"
    version: "0.4.0"

  # Green light after boot
  on_boot:
    priority: -100  # Lower priority to ensure it runs after boot is complete
    then:
      - light.turn_on:
          id: led_strip
          red: 0
          green: 100%
          blue: 0
          brightness: 50%
      - if:
          condition:
            binary_sensor.is_on: pc_power_sensor
          then:
            - output.turn_on: esp32_led_out_mb

esp32:
  board: esp32-c3-devkitm-1
  flash_size: 4MB
  framework:
    type: esp-idf

dashboard_import:
  package_import_url: github://ajfriesen/PokyPow/Esphome/pokypow.yaml
  import_full_config: false


# Enable Home Assistant API
api:
  reboot_timeout: 0s
  # Blue light after connected to Home Assistant
  on_client_connected:
    then:
      - light.turn_on:
          id: led_strip
          red: 0
          green: 0
          blue: 100%
          brightness: 50%
  # Red light after disconnected from Home Assistant
  on_client_disconnected:
    then:
      - light.turn_on:
          id: led_strip
          red: 100%
          green: 0
          blue: 0
          brightness: 50%

# Example configuration entry
# uart:
#   baud_rate: 9600
#   port: /dev/tty.usbserial-1140


# OTA is required for Over-the-Air updating
ota:
  - platform: esphome
  - platform: web_server
  - platform: http_request


# Enable WiFi provisioning via USB/Serial after flashing
# Logger needs to be set to uart0 for this to work
improv_serial:

# To be able to get logs from the device via serial and api.
logger:
  # Change to the urat controler on board to make improve serial work for WiFi provisioning
  hardware_uart: uart0

# Sets up Bluetooth LE (Only on ESP32) to allow the user
# to provision wifi credentials to the device.
esp32_improv:
  authorizer: none

wifi:
  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "PokyPow Hotspot"



# In combination with the `ap` this allows the user
# to provision wifi credentials to the device.
captive_portal:

# 
web_server:
  port: 80


packages:
  core: !include core.yaml

# Enable downloading the manifest JSON
http_request:
  timeout: 10s

time:
  - platform: sntp
    id: sntp_time

# Check for updates from the website
update:
  - platform: http_request
    id: firmware_update_stable
    name: "Firmware Update (Stable)"
    source: "https://pokypow.com/firmware/manifest.json"
    update_interval: 1min

