name: Build

on:
  push:
    branches:
      - main
    paths:
      - 'ESPHome/**'
  pull_request:
    paths:
      - 'ESPHome/**'
  workflow_dispatch:
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-firmware:
    name: Build Firmware
    uses: esphome/workflows/.github/workflows/build.yml@2025.10.0
    with:
      files: |
        ESPHome/pokypow.yaml
      esphome-version: 2026.1.0
      release-summary: ${{ github.event_name == 'release' && github.event.release.body || '' }}
      release-url: ${{ github.event_name == 'release' && github.event.release.html_url || '' }}
      release-version: ${{ github.event_name == 'release' && github.event.release.tag_name || '' }}

  upload-to-release:
    name: Upload to Release
    if: github.event_name == 'release'
    uses: esphome/workflows/.github/workflows/upload-to-gh-release.yml@2025.10.0
    needs:
      - build-firmware
    with:
      version: ${{ github.event.release.tag_name }}


